@font-face {
    font-family: 'tex_gyre_adventorregular';
    src: url('texgyreadventor-regular-webfont.eot');
    src: url('texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-regular-webfont.woff2') format('woff2'),
         url('texgyreadventor-regular-webfont.woff') format('woff'),
         url('texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('texgyreadventor-regular-webfont.svg#tex_gyre_adventorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
body
{
font-family: 'tex_gyre_adventorregular', sans-serif;
background-color: rgb(247, 241, 241);
}
h2{
    font-size: 12px;
}
p{
    font-size: 8px;
    color: rgb(145, 139, 139)
}
.title1
{
    color: rgb(145, 139, 139);
    text-align:center;
    font-style:normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 25px;
}
.title2
{
    text-align: center;
    color:black;
    font-size: 25px;    
    line-height: 20px;
}

.para1
{
    color:rgb(184, 180, 180);
    text-align:center;
    font-size: 12px;
}
#container{
    display: flex;
    justify-content: center;
    max-width: 1140px;
   

}

.boite1
{
    background-color: snow;
    width: 200px;
    height: 130px;
    padding: 15px;
    border-top:3px rgb(15, 187, 230)solid;
    box-shadow:5px 5px 5px rgb(145, 139, 139);
    margin: 20px;

}
.boite1 img{
    display: block;
    margin-left: auto;
}
.boite2
{
    background-color: snow;
    width: 200px;
    height: 130px;
    padding: 15px;
    border-top:3px rgb(230, 15, 15)solid;
    box-shadow:5px 5px 5px rgb(145, 139, 139);
    margin: 20px;

}
.boite2 img{
    display: block;
    margin-left: auto;
}
.boite3
{
    background-color: snow;
    width: 200px;
    height: 130px;
    padding: 15px;
    border-top:3px rgb(230, 137, 15)solid;
    box-shadow:5px 5px 5px rgb(145, 139, 139);
    margin: 20px;

}
.boite3 img{
    display: block;
    margin-left: auto;
}
.boite4{
    background-color: snow;
    width: 200px;
    height: 130px;
    padding: 15px;
    border-top:3px rgb(29, 15, 230)solid;
    box-shadow:5px 5px 5px rgb(145, 139, 139);
    margin: 20px;
}
.boite4 img{
    display: block;
    margin-left: auto;
}
@media all and (max-width: 1024){
    
}